<main class="app-about">
  <div class="mainBox">
    <div class="aboutPhoto">
      <img src="../../scss/assets/Fam-Pic.jpeg" alt="" />
    </div>
    <div class="bio">
      <h1>Simple Clean Elegent Design</h1>
      <p>
        Full-stack JavaScript Developer with extensive experience in problem-solving, collaboration and working
in a team environment. My passion is understanding my client’s ideas and goals and bringing them to life through creativity and attention to detail.
    </div>
  </div>
</main>
