<nav class="app-nav">
  <main>
    <div class="logo">
      <div class="logoText">
        <h1><span id='nameSpan'>Matthew</span> Sheridan-Smith</h1>
        <p>
          Let's Make Something Great Together
        </p>
      </div>
      <div class="contactBtns">
        <a class="contactBtns" href="https://www.facebook.com/profile.php?id=508924598" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a class="contactBtns" href="https://github.com/muddybeard210" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a class="contactBtns" href="https://www.linkedin.com/in/matthew-sheridan-smith" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a class="contactBtns" href="mailto:matthewsheridansmith@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
  </a>

      </div>
    </div>
  </main>
  <ul>
    <li id='aboutBtn'> <a class="navBtns" href="#/about">About</a> </li>
    <li> <a class="navBtns" href="#/projects">Projects</a> </li>
    <li> <a class="navBtns" href="#">Home</a> </li>

  </ul>
</nav>
