<main class="app-projects">
  <div class="container">
    <div class="project shooters-log-fe">
        <img src="../../scss/assets/shooters-log-grey-logo.png" alt="">
        <div class="projectInfoContainer">
          <div class="">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <i class="fa fa-github-alt" aria-hidden="true"></i>
          </div>
          <div><p>The shooters log is a full stack web application designed for competitive marksmen. Once a user registers through the applications signup process, they can create and view scorecards formatted to the specifications of a NRA range master. At the moment this app only tracks competition scores, but future releases will track data for rifles and rifle loads, as well as real time data visualization of shot accuracy across competitions. Shooters Log also has an accompanying iOS app for use out at the range. Built with angularJS and node.</p></div>
          <ul class="projectInfoScreenshot">
            <li>
              <img src="../../scss/assets/shooters-log-signup.png" alt="" />

            </li>
            <li>
              <img src="../../scss/assets/shooters-log-home.png" alt="" />

            </li>
          </ul>

        </div>
    </div>
    <div class="project shooters-log-be">
      <img src="../../scss/assets/shooters-log-grey-logo.png" alt="">
      <p>Full Stack Application using the MEAN stack.  App meant for competative long range shooting</p>
      <p>Used with the following technologies:</p>
      <ul>
        <li>Node</li>
        <li>MongoDB</li>
        <li>Express</li>
      </ul>
    </div>
    <div class="project gdandb">
      <img src="../../scss/assets/gdandb.png" alt="">
      <div class="projectInfoContainer">
        <div><p>Converted established webpage to a more mobile-friendly user experience.</p></div>
        <ul class="projectInfoScreenshot">
          <li>
            <img src="../../scss/assets/gdandbBefore2.png" alt="" />

          </li>
          <li>
            <img src="../../scss/assets/gdandbAfter.png" alt="" />

          </li>
          <li>
            <img src="../../scss/assets/gdandbMenu.png" alt="" />

          </li>
        </ul>

      </div>
    </div>
  </div>

</main>
